h1 {
    font-family: sans-serif;
    font-size: 100px;
    color: red;
    text-align: center;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    border-radius: 30%;
    width: auto;
    height: 150px;  
}